@import 'main';

.ImageLinkForm {
  width: 100%;

  &__description {
    text-align: center;
  }

  &__form {
    border-radius: 5px;
    max-width: 700px;
    margin: 0 auto;
    padding: 3rem;
    @include backgroundGradientDark;
    position: relative;
    box-shadow: 0 0.25rem 0.25rem rgba($black, 0.4);

    &_inner {
      display: flex;
      width: 100%;
      margin: 0 auto;

      @include media(sm) {
        width: 90%;
      }

      @include media(md) {
        width: 70%;
      }

      @include media(lg) {
        width: 50%;
      }
    }

    &__input {
      width: 70%;
      height: 3rem;
      border: 0;
      outline: none;
      padding: 0;
      padding-left: 1rem;
      font-family: inherit;
      font-size: inherit;
      color: $black;
      background-color: $white;
    }

    &__button {
      height: 3rem;
      border: 0;
      outline: none;
      width: 30%;
      font-size: inherit;
      font-family: inherit;
      text-transform: uppercase;
      color: inherit;
      background-color: $secondary;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        background-color: $secondaryLight;
      }

      &:active {
        transform: scale(1);
        background-color: $secondaryDark;
      }
    }
  }
}
