@import 'main';

.Logo {
  position: absolute;
  top: 2rem;
  left: 2rem;

  &__tilt {
    box-shadow: 0 0.25rem 0.25rem rgba($black, 0.2);
    @include backgroundGradient;
    border-radius: 50%;
  }

  &__content {
    @include flexCenterCenter;
    @include fullSize;
    flex-direction: column;

    &__text {
      @include font('special');
      @include fontSize(xs);
      text-transform: uppercase;
    }
  }
}
