@import 'main';

.FaceRecognition {
  width: 100%;
  margin: 2rem auto;
  position: relative;

  @media only screen and (min-width: 550px) {
    width: 500px;
  }

  &__image {
    width: 100%;
    height: auto;
    box-shadow: 0 0.5rem 2rem rgba($black, 0.7);
  }

  &__frame {
    position: absolute;
    border: 3px solid $tertiary;
    border-radius: 5px;
  }
}
