@import 'main';

.App {
  padding: 2rem;

  &__particles {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  &__content {
    margin-top: 150px;
  }
}
